article {
    padding-top: 1em;
    border-bottom: thin solid gray;
}

#blogTitle {
    font-style: italic;
    margin-bottom: 0;
}

#blogSubtitle {
    font-style: normal;
    margin: 0;
    font-weight: 100;
}

.blogPost {
    width: 70%;
    font-family: "Roboto",sans-serif;
}

.articleList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgside {
    display: flex;
}