#flexIntro {
    display: flex;
    flex-direction: row;
    padding-right: 5em;
    padding-left: 2em;
    padding-bottom: 5em;
    align-items: center;
}

#intro {
    padding-right: 5em;
    margin-bottom: 0em;
}



#subtitleHead {
    margin-top: 1em;
}